LinkedIn Processor - Scalable (5) - Copia.json
{
  "name": "LinkedIn Processor - Scalable",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "telegram-chat",
              "name": "telegram_chat_id",
              "value": "999264527",
              "type": "string"
            },
            {
              "id": "email-from",
              "name": "from_email",
              "value": "dataops.cloud.mbf@gmail.com",
              "type": "string"
            },
            {
              "id": "email-to",
              "name": "to_email",
              "value": "dataops.cloud.mbf@gmail.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "caf87f80-46b3-429a-b2c8-e694252e02d0",
      "name": "Set Global Vars1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5408,
        3120
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1qdjwfXDlfKKOBR0v5qNVU0DtlD65eObakN5t2XTdgho"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -5600,
        3120
      ],
      "id": "2468d2bb-78d6-4e5f-92d8-814355bed018",
      "name": "Get Resume1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "4TTjZAXU1tVaBCXb",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Xoq4aZ10RTL_6db7NiHnl35PIXGXAxml6_GUqpxvrmM",
          "mode": "list",
          "cachedResultName": "N8N-Job Scraping_Cloud_Version",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xoq4aZ10RTL_6db7NiHnl35PIXGXAxml6_GUqpxvrmM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xoq4aZ10RTL_6db7NiHnl35PIXGXAxml6_GUqpxvrmM/edit#gid=0"
        },
        "options": {}
      },
      "id": "652af0f9-0ac2-4995-9b6f-daafc7d5c029",
      "name": "Read Pending Jobs1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -5184,
        3120
      ],
      "typeVersion": 4.3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jbkw9AjKawWlE06F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-job-id",
              "leftValue": "={{ $json.job_id.toString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "299dc4b1-66c0-420d-8f5c-553afab1b990",
      "name": "Filter Valid Jobs1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -4992,
        3120
      ]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "4fd8039c-61a7-4651-aae3-5efa11614b41",
      "name": "Process in Batches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4736,
        3120
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the job posting information:\nCompany Name: {{ $json.company_name }}\nJob Posting Description: {{ $json.job_description }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert LinkedIn job posting filtering agent. Your only task is to determine whether or not the job posting provided to you is suitable for the specific candidate with the provided original resume. The original resume may include various skills or qualifications, you will have to think deeply and determine if any of the candidate's skillsets or knowledge is suitable to the job posting.\n\nHere is the information from the job posting and company:\nCompany Name: {{ $json.company_name }}\nJob Posting Description: {{ $json.job_description }}\n\nHere is the candidate's original resume: \n{{ $('Get Resume1').first().json.content }}\n\nIf the job posting is suitable to the candidate according to their skills, experience and knowledge. You must rate whether or not the candidate's resume is suitable to the job posting out of 100. If the rating is 0, then the output will be 0 meaning that the job posting in NOT suitable to the candidate at all. If the rating is 100, then the output will be 100 meaning that the job posting is extremely suitable to the candidate.\n\nOutput in JSON format as indicated in the output parser.",
          "maxIterations": 10,
          "returnIntermediateSteps": false
        }
      },
      "id": "3608d9c9-9bd1-4b4a-838f-81de34193372",
      "name": "Job Matching Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -4688,
        3824
      ],
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -4656,
        4272
      ],
      "id": "0f4c73a9-2e67-46b4-89c3-efd1aaf87be4",
      "name": "Think2"
    },
    {
      "parameters": {
        "jsCode": "// Extract score and add job context\nconst input = $input.first();\nconst job = $('Process in Batches1').first().json;\nconst aiOutput = input.json.output || {};\n\nreturn [{\n  json: {\n    // Job identifiers\n    job_id: job.job_id,\n    job_url: job.job_url,\n    job_title: job.job_title,\n    company_name: job.company_name,\n    job_description: job.job_description,\n    salary_range: job.salary_range,\n    time_posted: job.time_posted,\n    num_applicants: job.num_applicants,\n    apply_url: job.apply_url,\n    \n    // AI scoring results\n    score: aiOutput.rating || 0,\n    justification: aiOutput.justification || 'Error: AI did not return valid output',\n    \n    // Status tracking\n    status: (aiOutput.rating || 0) >= 75 ? 'qualified' : 'low_score',\n    scored_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "f46c255f-329a-4596-996b-de61965384d8",
      "name": "Merge Score with Job1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4256,
        3824
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "score-threshold",
              "leftValue": "={{ $json.score }}",
              "rightValue": "={{ 75 }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "fc840513-fcc0-40c2-8f96-cee798451e92",
      "name": "75% or Higher Qualification1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4000,
        3824
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Job Posting Description: {{ $json.job_description }}\nCandidate's Original Resume:\n{{ $('Get Resume1').first().json.content }}",
        "options": {
          "systemMessage": "=You are an expert resume building specialist. Your task is to THINK DEEPLY to build AND enhance the originally provided resume based on the job requirements from the LinkedIn job postings.\n\nNOTE: \nThe original resume may be unstructured but contains all of the candidate's relevant skills, experience and education.\n\nINSTRUCTIONS:\n1. Take the original resume content and the job posting details\n2. Recreate and enhance the resume to tailor and match the job requirements of the posting\n3. Keep all original sections: Summary, Experience, Education, Skills, Projects, Awards & Certifications\n4. Improve the content to highlight relevant skills and experiences\n5. Maintain the professional structure and formatting\n6. Output the COMPLETE enhanced resume with ALL sections\n7. DO NOT include the Complementary Skillsets portion of the resume. That is only there as add ons to assist with tailoring the resume. \n\nIMPORTANT FORMATTING RULES:\n- Output ONLY clean HTML content, no markdown formatting\n- Do NOT include ```html or ``` or backticks in your response\n- Do NOT include the word \"html\" at the beginning\n\nEXAMPLE STRUCTURE:\n\n<h1>Jimmy Jim Jim</h1>\n<div class=\"job-title\"><strong>Software Developer</strong></div>\n\n<div class=\"contact-section\">\n<strong>Contact:</strong>\n<ul>\n<li>Phone: (555) 123-4567</li>\n<li>Email: jimmy.jim.jim@email.com</li>\n<li>LinkedIn: linkedin.com/in/jimmyjimjimdev</li>\n<li>GitHub: github.com/jimmyjimjim-dev</li>\n</ul>\n</div>\n\n<h2><strong>Summary</strong></h2>\n<p class=\"summary\">[Enhanced summary here]</p>\n\n<h2><strong>Experience</strong></h2>\n[Job entries with proper HTML structure]\n\nStart your response directly with <h1> and end with the last job entry. No extra text or formatting markers."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -3776,
        3808
      ],
      "id": "97c231d2-0461-4161-9c2b-8c13ac5ca1b0",
      "name": "Resume Building Agent1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -3728,
        4272
      ],
      "id": "c2400a88-15c1-4dda-b542-38b620571f0d",
      "name": "Think3"
    },
    {
      "parameters": {
        "jsCode": "// Get the enhanced resume content from the AI agent\nlet custom_resume = $input.first().json.output;\nconst job = $('75% or Higher Qualification1').first().json;  // ← Changed .item to .first()\n\nconst resume_title = job.company_name + ' - ' + job.job_title + ' Resume - ' + job.job_id;\n\n// Clean up any unwanted HTML artifacts or markdown formatting\nconst custom_resume_formatted = custom_resume\n    .replace(/^```html\\s*/i, '')\n    .replace(/\\s*```\\s*$/i, '')\n    .replace(/^`html\\s*/i, '')\n    .replace(/^html\\s*/i, '')\n    .replace(/^\\s*}\\s*html\\s*/i, '')\n    .replace(/^\\s*`\\s*/i, '')\n    .trim();\n\n// HTML template with styling\nconst custom_resume_html = `\n<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            max-width: 800px;\n            margin: 0 auto;\n            padding: 40px;\n            line-height: 1.4;\n            color: #333;\n            background-color: white;\n            font-size: 14px;\n        }\n        h1 { font-size: 28px; font-weight: bold; margin-bottom: 8px; margin-top: 0; color: #000; }\n        h2 { font-size: 16px; font-weight: bold; margin-top: 20px; margin-bottom: 10px; color: #000; }\n        ul { list-style: disc; margin-left: 18px; margin-top: 0; margin-bottom: 0; padding: 0; }\n        li { margin-bottom: 5px; line-height: 1.3; }\n        p { margin-bottom: 10px; margin-top: 0; text-align: justify; line-height: 1.3; }\n        strong { font-weight: bold; }\n        em { font-style: italic; }\n        a { color: #0066cc; text-decoration: none; }\n    </style>\n</head>\n<body>\n    ${custom_resume_formatted}\n</body>\n</html>\n`;\n\nreturn [{ \n    json: { \n        ...job,\n        resume_title: resume_title,\n        custom_resume_html: custom_resume_html,\n        status: 'enhanced'\n    } \n}];"
      },
      "id": "13253728-8855-4444-b52d-6de631af15e2",
      "name": "HTML Formatter1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3440,
        3808
      ]
    },
    {
      "parameters": {
        "folderId": "1yicugNqc33obnrVA9juwk84-Am6bKPFQ",
        "title": "={{ $json.resume_title }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -3248,
        3808
      ],
      "id": "b9264d3c-2b57-4755-9df4-673e9fac7484",
      "name": "Create Enhanced Resume1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "4TTjZAXU1tVaBCXb",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/upload/drive/v3/files/{{ $json.id }}?uploadType=media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"content-type\":\"text/html\"\n}",
        "sendBody": true,
        "contentType": "raw",
        "body": "=={{ $('HTML Formatter1').first().json.custom_resume_html }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3056,
        3808
      ],
      "id": "76c9c0c8-0b18-49f3-a841-b3dae615f872",
      "name": "Upload Updated Resume1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "4TTjZAXU1tVaBCXb",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build final output with resume URL\nconst job = $('HTML Formatter1').first().json;  // ← Changed .item to .first()\nconst docId = $input.first().json.id;\nconst custom_resume_url = 'https://docs.google.com/document/d/' + docId;\n\nreturn [{\n  json: {\n    job_id: job.job_id,\n    job_title: job.job_title,\n    company_name: job.company_name,\n    job_url: job.job_url,\n    salary_range: job.salary_range,\n    time_posted: job.time_posted,\n    num_applicants: job.num_applicants,\n    score: job.score,\n    justification: job.justification,\n    custom_resume_url: custom_resume_url,\n    status: 'enhanced',\n    processed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "a57fbc73-14ba-4dcc-be2e-3fe6202f5979",
      "name": "Build Final Output1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2816,
        3808
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Xoq4aZ10RTL_6db7NiHnl35PIXGXAxml6_GUqpxvrmM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "input"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job_id }}",
            "status": "={{ $json.status }}",
            "score_justification": "=",
            "custom_resume_url": "={{ $json.custom_resume_url }}",
            "job_title": "={{ $json.job_title }}",
            "company_name": "={{ $json.company_name }}",
            "job_url": "={{ $json.job_url }}",
            "score": "={{ $json.score }}",
            "processed_at": "={{ $json.processed_at }}",
            "justification": "={{ $json.justification }}"
          },
          "matchingColumns": [
            "job_id"
          ],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "salary info",
              "displayName": "salary info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "posted_time",
              "displayName": "posted_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "published_at",
              "displayName": "published_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "search_string",
              "displayName": "search_string",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job_url",
              "displayName": "job_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_url",
              "displayName": "company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_logo",
              "displayName": "company_logo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job_description",
              "displayName": "job_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "applicants_count",
              "displayName": "applicants_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contract_type",
              "displayName": "contract_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "experience_level",
              "displayName": "experience_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "work_type",
              "displayName": "work_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sector",
              "displayName": "sector",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "recruiter_name",
              "displayName": "recruiter_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "recruiter_url",
              "displayName": "recruiter_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "secondary_id",
              "displayName": "secondary_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "apply_url",
              "displayName": "apply_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "apply type",
              "displayName": "apply type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score_justification",
              "displayName": "score_justification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "custom_resume_url",
              "displayName": "custom_resume_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "justification",
              "displayName": "justification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scored_at",
              "displayName": "scored_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telegram_chat_id",
              "displayName": "telegram_chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "from_email",
              "displayName": "from_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "to_email",
              "displayName": "to_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "96f7dc94-cb1a-474c-8d6d-08f7b8112a64",
      "name": "Update Sheet - Enhanced1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -2592,
        3776
      ],
      "typeVersion": 4.3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jbkw9AjKawWlE06F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Xoq4aZ10RTL_6db7NiHnl35PIXGXAxml6_GUqpxvrmM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xoq4aZ10RTL_6db7NiHnl35PIXGXAxml6_GUqpxvrmM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job_id }}",
            "status": "={{ $json.status }}",
            "score_justification": "={{ $json.justification }}",
            "job_title": "={{ $json.job_title }}",
            "company_name": "={{ $json.company_name }}",
            "job_url": "={{ $json.job_url }}",
            "job_description": "={{ $json.job_description }}",
            "apply_url": "={{ $json.apply_url }}",
            "score": "={{ $json.score }}",
            "scored_at": "={{ $json.scored_at }}"
          },
          "matchingColumns": [
            "job_id"
          ],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "salary info",
              "displayName": "salary info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "posted_time",
              "displayName": "posted_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "published_at",
              "displayName": "published_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "search_string",
              "displayName": "search_string",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job_url",
              "displayName": "job_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_url",
              "displayName": "company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_logo",
              "displayName": "company_logo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job_description",
              "displayName": "job_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "applicants_count",
              "displayName": "applicants_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contract_type",
              "displayName": "contract_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "experience_level",
              "displayName": "experience_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "work_type",
              "displayName": "work_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sector",
              "displayName": "sector",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "recruiter_name",
              "displayName": "recruiter_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "recruiter_url",
              "displayName": "recruiter_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "secondary_id",
              "displayName": "secondary_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "apply_url",
              "displayName": "apply_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "apply type",
              "displayName": "apply type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score_justification",
              "displayName": "score_justification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "custom_resume_url",
              "displayName": "custom_resume_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "justification",
              "displayName": "justification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scored_at",
              "displayName": "scored_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telegram_chat_id",
              "displayName": "telegram_chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "from_email",
              "displayName": "from_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "to_email",
              "displayName": "to_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "60dcb897-924b-4c6a-ae44-1981f032905d",
      "name": "Update Sheet - Low Score1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -3232,
        4240
      ],
      "typeVersion": 4.3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jbkw9AjKawWlE06F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "13ea9e0f-8d9e-4e6f-ad98-15815c39c773",
      "name": "Merge All Results1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2336,
        3440
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build summary notification\nconst allJobs = $input.all().map(i => i.json);\nconst enhancedJobs = allJobs.filter(j => j.status === 'enhanced');\nconst lowScoreJobs = allJobs.filter(j => j.status === 'low_score');\n\nconst date = new Date().toLocaleDateString('en-US', {\n  month: 'short',\n  day: 'numeric',\n  year: 'numeric'\n});\n\nconst subject = `${enhancedJobs.length} jobs matched — ${date}`;\n\nlet text = `✅ *${enhancedJobs.length}* jobs scored 75%+ and enhanced!\\n`;\ntext += `⚠️ *${lowScoreJobs.length}* jobs below threshold.\\n\\n`;\n\nenhancedJobs.forEach((job, i) => {\n  text += `*${i+1}. ${job.company_name}* - ${job.job_title}\\n`;\n  text += `   Score: ${job.score}%\\n`;\n  text += `   📄 Resume: ${job.custom_resume_url}\\n\\n`;\n});\n\nreturn [{ json: { subject, text, enhanced_count: enhancedJobs.length, low_score_count: lowScoreJobs.length } }];"
      },
      "id": "8886d9f7-0477-468f-a603-e18a260ae1fb",
      "name": "Format Notification1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        3808
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Set Global Vars1').first().json.telegram_chat_id }}",
        "text": "={{ $json.text }}\n",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1808,
        3712
      ],
      "id": "c1c5d83a-4c2c-4925-9430-76d8203c8c0a",
      "name": "Telegram Response1",
      "webhookId": "b9f453e6-ecd9-432f-a069-87eea85d1442",
      "credentials": {
        "telegramApi": {
          "id": "M4xwq8mohlH7oI1F",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Set Global Vars1').first().json.to_email }}",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1824,
        3920
      ],
      "id": "a4efa7e1-95a8-4801-959c-f0283dad0241",
      "name": "Email Response1",
      "webhookId": "f8061316-8346-4b41-b9a4-fa17f01a0cd7",
      "credentials": {
        "gmailOAuth2": {
          "id": "9mUwSxU4RfprPtsU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"company_name\": \"string\",\n  \"job_description\": \"string\", \n  \"rating\": \"number\",\n  \"justification\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -4432,
        4256
      ],
      "id": "00983168-444f-491b-a35c-3f230559ff79",
      "name": "Structured Output Parser",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -4928,
        4272
      ],
      "id": "b7caf836-4726-481b-8e27-07ff5486d3a9",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "s34KW40U7QX30J0X",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -5440,
        3376
      ],
      "id": "85b1eca9-8929-4d71-bfdf-a28e1841cbe1",
      "name": "Schedule Trigger1"
    }
  ],
  "pinData": {},
  "connections": {
    "Set Global Vars1": {
      "main": [
        [
          {
            "node": "Read Pending Jobs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Resume1": {
      "main": [
        [
          {
            "node": "Set Global Vars1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Pending Jobs1": {
      "main": [
        [
          {
            "node": "Filter Valid Jobs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Jobs1": {
      "main": [
        [
          {
            "node": "Process in Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process in Batches1": {
      "main": [
        [
          {
            "node": "Merge All Results1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Job Matching Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Matching Agent1": {
      "main": [
        [
          {
            "node": "Merge Score with Job1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think2": {
      "ai_tool": [
        [
          {
            "node": "Job Matching Agent1",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Resume Building Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge Score with Job1": {
      "main": [
        [
          {
            "node": "75% or Higher Qualification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "75% or Higher Qualification1": {
      "main": [
        [
          {
            "node": "Resume Building Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sheet - Low Score1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Building Agent1": {
      "main": [
        [
          {
            "node": "HTML Formatter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think3": {
      "ai_tool": [
        [
          {
            "node": "Resume Building Agent1",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Job Matching Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTML Formatter1": {
      "main": [
        [
          {
            "node": "Create Enhanced Resume1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Enhanced Resume1": {
      "main": [
        [
          {
            "node": "Upload Updated Resume1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Updated Resume1": {
      "main": [
        [
          {
            "node": "Build Final Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Output1": {
      "main": [
        [
          {
            "node": "Update Sheet - Enhanced1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet - Enhanced1": {
      "main": [
        [
          {
            "node": "Merge All Results1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Process in Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet - Low Score1": {
      "main": [
        [
          {
            "node": "Merge All Results1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Process in Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Results1": {
      "main": [
        [
          {
            "node": "Format Notification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Notification1": {
      "main": [
        [
          {
            "node": "Telegram Response1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Job Matching Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Job Matching Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Resume Building Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get Resume1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "37d47b1d-8117-41f8-8cc3-20081333ac47",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7701c5f34a23cb748d407034740c99259f35357bcb3895da2a4b88fd28c247f4"
  },
  "id": "UyJ6ZQ1uFMC6cjJUcDdIU",
  "tags": [
    {
      "updatedAt": "2026-02-08T11:46:58.971Z",
      "createdAt": "2026-02-08T11:46:58.971Z",
      "id": "HhwS23pcmoUmw6BE",
      "name": "VF"
    }
  ]
}