legacy/workflows/My workflow 2 (1).json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the job posting information:\nCompany Name: {{ $json.companyName }}\nJob Posting Description: {{ $json.descriptionText }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert LinkedIn job posting filtering agent. Your only task is to determine whether or not the job posting provided to you is suitable for the specific candidate with the provided original resume. The original resume may include various skills or qualifications, you will have to think deeply and determine if any of the candidate's skillsets or knowledge is suitable to the job posting.\n\nHere is the information from the job posting and company:\nCompany Name: {{ $json.companyName }}\nJob Posting Description: {{ $json.descriptionText }}\n\nHere is the candidate's original resume: {{ $('Get Original Resume').item.json.content }}\n\nIf the job posting is suitable to the candidate according to their skills, experience and knowledge. You must rate whether or not the candidate's resume is suitable to the job posting out of 100. If the rating is 0, then the output will be 0 meaning that the job posting in NOT suitable to the candidate at all. If the rating is 100, then the output will be 100 meaning that the job posting is extremely suitable to the candidate.\n\nOutput in JSON format as indicated in the output parser."
        }
      },
      "id": "d603895c-48b8-4787-adfc-91e7da84bd7b",
      "name": "Job Matching Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -144,
        -400
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "4e701b98-e197-4b19-bdc8-48dba9842d99",
      "name": "8AM Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2000,
        -592
      ]
    },
    {
      "parameters": {},
      "id": "6ddcc1f1-a5be-4d61-a7f7-90e73a4bf5ef",
      "name": "Manual Fallback Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1984,
        -432
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1OJTgr8rfbgN7xRsTVO6hUF6HPY4_9WcxAmX91R0iIpU/edit?usp=sharing"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -1664,
        -624
      ],
      "id": "19aa00e4-6873-4eca-93a7-ad8101148aec",
      "name": "Get Original Resume",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "4TTjZAXU1tVaBCXb",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('8AM Daily').isExecuted }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "0d232e89-80bb-4d9f-8345-0459c6b9d010"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTTP Path"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Manual Fallback Trigger').isExecuted }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "ad78b018-4218-4a01-81ea-e7afd643001e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel Path"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": 1,
          "ignoreCase": true,
          "allMatchingOutputs": true
        }
      },
      "id": "c9c71a1d-e5a9-40f4-b918-42d3a7fa502d",
      "name": "Source Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1456,
        -112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/fetchclub~linkedin-jobs-scraper/run-sync-get-dataset-items?token=YOUR_APIFY_API_TOKEN",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"include_company_details\": true,\n    \"max_results\": 1000,\n    \"proxy_group\": \"RESIDENTIAL\",\n    \"search_url\": \"https://www.linkedin.com/jobs/search/?currentJobId=4357596725&f_TPR=r604800&keywords=Gerente%20de%20opera%C3%A7%C3%B5es%20s%C3%AAnior&origin=JOB_SEARCH_PAGE_JOB_FILTER\"\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 20
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1168,
        -112
      ],
      "id": "a62071b9-7392-4aeb-99ad-e558fe32ffb6",
      "name": "LinkedIn Jobs Scraper",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ncMlkIbXO98M6Nr0",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1k-IpUQ4VgMsVRvnG-sHaIutlyO-6uY1e3QhqM845ua8/edit?usp=sharing",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": 1032725545,
          "mode": "list",
          "cachedResultName": "linkedin_jobs_FINAL_unified",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k-IpUQ4VgMsVRvnG-sHaIutlyO-6uY1e3QhqM845ua8/edit#gid=1032725545"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "linkedin_job_id"
          ],
          "schema": [
            {
              "id": "linkedin_job_id",
              "displayName": "linkedin_job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_url",
              "displayName": "job_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "apply_url",
              "displayName": "apply_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seniority_level",
              "displayName": "seniority_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "employment_type",
              "displayName": "employment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "work_type",
              "displayName": "work_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "remote_allowed",
              "displayName": "remote_allowed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_date",
              "displayName": "posted_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "applicants_count",
              "displayName": "applicants_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "industries",
              "displayName": "industries",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_function",
              "displayName": "job_function",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_url",
              "displayName": "company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_description",
              "displayName": "company_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_size",
              "displayName": "company_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_logo",
              "displayName": "company_logo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "salary",
              "displayName": "salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_file",
              "displayName": "source_file",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "match_score",
              "displayName": "match_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_match_reasons",
              "displayName": "ai_match_reasons",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "custom_resume_url",
              "displayName": "custom_resume_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score_justification",
              "displayName": "score_justification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1008,
        288
      ],
      "id": "26a71dbd-31fb-4279-afb7-7e7ff859cf12",
      "name": "Read Jobs from Sheets",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jbkw9AjKawWlE06F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\\n * Schema Mapper: Transforms consolidated Excel/Sheets schema to HTTP response format\\n * This ensures the Job Matching Agent receives data in the expected structure\\n * \\n * Source: Google Sheets (1k-IpUQ4VgMsVRvnG-sHaIutlyO-6uY1e3QhqM845ua8)\\n * Sheet: linkedin_jobs_FINAL_unified\\n * \\n * COMPLETE FIELD MAPPING - All 28 columns including AI control fields\\n */\\n\\nconst items = $input.all();\\nconst mappedItems = [];\\n\\nfor (const item of items) {\\n  const data = item.json;\\n  \\n  const mappedJob = {\\n    // ═══════════════════════════════════════════════════════════\\n    // CORE JOB INFO - Required for Job Matching Agent\\n    // ═══════════════════════════════════════════════════════════\\n    companyName: data.company_name || data.companyName || '',\\n    title: data.job_title || data.title || '',\\n    descriptionText: data.description || data.descriptionText || '',\\n    \\n    // ═══════════════════════════════════════════════════════════\\n    // LOCATION INFO\\n    // ═══════════════════════════════════════════════════════════\\n    location: data.location || '',\\n    \\n    // ═══════════════════════════════════════════════════════════\\n    // JOB DETAILS\\n    // ═══════════════════════════════════════════════════════════\\n    seniorityLevel: data.seniority_level || data.seniorityLevel || '',\\n    employmentType: data.employment_type || data.employmentType || '',\\n    workType: data.work_type || data.workType || '',\\n    remoteAllowed: data.remote_allowed || data.remoteAllowed || '',\\n    jobFunction: data.job_function || data.jobFunction || '',\\n    industries: data.industries || '',\\n    \\n    // ═══════════════════════════════════════════════════════════\\n    // COMPENSATION\\n    // ═══════════════════════════════════════════════════════════\\n    salary: data.salary || data.salary_info || '',\\n    \\n    // ═══════════════════════════════════════════════════════════\\n    // URLs\\n    // ═══════════════════════════════════════════════════════════\\n    jobUrl: data.job_url || data.jobUrl || '',\\n    applyUrl: data.apply_url || data.applyUrl || '',\\n    companyUrl: data.company_url || data.companyUrl || '',\\n    companyLogo: data.company_logo || data.companyLogo || '',\\n    \\n    // ═══════════════════════════════════════════════════════════\\n    // COMPANY INFO\\n    // ═══════════════════════════════════════════════════════════\\n    companyId: data.company_id || data.companyId || '',\\n    companyDescription: data.company_description || data.companyDescription || '',\\n    companySize: data.company_size || data.companySize || '',\\n    \\n    // ═══════════════════════════════════════════════════════════\\n    // METRICS & TIMESTAMPS\\n    // ═══════════════════════════════════════════════════════════\\n    applicantsCount: data.applicants_count || data.applicantsCount || 0,\\n    postedDate: data.posted_date || data.postedDate || data.posted_time || '',\\n    \\n    // ═══════════════════════════════════════════════════════════\\n    // TRACKING - For deduplication\\n    // ═══════════════════════════════════════════════════════════\\n    linkedinJobId: data.linkedin_job_id || data.id || '',\\n    sourceFile: data.source_file || 'sheets_import',\\n    dataSource: 'sheets',\\n    \\n    // ═══════════════════════════════════════════════════════════\\n    // AI CONTROL FIELDS - Updated by AI Agent during processing\\n    // These fields track the AI evaluation and workflow status\\n    // ═══════════════════════════════════════════════════════════\\n    processedAt: data.processed_at || data.processedAt || '',\\n    matchScore: data.match_score || data.matchScore || null,\\n    aiMatchReasons: data.ai_match_reasons || data.aiMatchReasons || '',\\n    status: data.status || 'pending',\\n    customResumeUrl: data.custom_resume_url || data.customResumeUrl || '',\\n    scoreJustification: data.score_justification || data.scoreJustification || ''\\n  };\\n  \\n  // Only include if we have minimum required data for AI matching\\n  if (mappedJob.companyName && mappedJob.descriptionText) {\\n    mappedItems.push({ json: mappedJob });\\n  }\\n}\\n\\nconsole.log(`Schema Mapper: Mapped ${mappedItems.length} jobs from Google Sheets with all fields including AI control columns`);\\nreturn mappedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        288
      ],
      "id": "801a6d43-a78a-4b5b-89ff-bd294c9a9daf",
      "name": "Schema Mapper"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Data Normalizer: Ensures consistent data format from HTTP source\n * Adds source tracking and validates required fields\n */\n\nconst items = $input.all();\nconst normalizedItems = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Ensure required fields exist for Job Matching Agent\n  const normalized = {\n    // These are the exact fields used by Job Matching Agent\n    companyName: data.companyName || data.company_name || 'Unknown Company',\n    descriptionText: data.descriptionText || data.description || '',\n    title: data.title || data.job_title || '',\n    \n    // Pass through other fields\n    ...data,\n    \n    // Add tracking metadata\n    _processedAt: new Date().toISOString(),\n    _dataSource: 'http'\n  };\n  \n  // Skip if no description (can't match without it)\n  if (normalized.descriptionText && normalized.descriptionText.length > 50) {\n    normalizedItems.push({ json: normalized });\n  }\n}\n\nconsole.log(`Normalized ${normalizedItems.length} jobs from HTTP`);\nreturn normalizedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        -112
      ],
      "id": "db9840ca-2c7b-40c5-8fe4-432e724649cc",
      "name": "Normalize HTTP Data"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        256,
        -80
      ],
      "id": "a18fe9dd-43df-4034-ae44-a6abfb17e737",
      "name": "Think"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"company_name\": \"string\",\n  \"job_description\": \"string\", \n  \"rating\": \"number\",\n  \"justification\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        432,
        -80
      ],
      "id": "ccd30366-d306-4c14-b248-6fe9bed7e768",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "match-score-condition",
              "leftValue": "={{ $json.output.rating.toNumber() }}",
              "rightValue": 65,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ce51caf7-dbf0-4544-9fcd-0e4d62c553a9",
      "name": "70% or Higher Qualification",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        176,
        -400
      ]
    },
    {
      "parameters": {
        "maxItems": 4
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        384,
        -416
      ],
      "id": "f7f844d0-8ecd-4bc8-8533-142a6926d0cb",
      "name": "Limit 1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Job Posting Description: {{ $json.output.job_description }}\nCandidate's Original Resume: {{ $('Get Original Resume').item.json.content }}",
        "options": {
          "systemMessage": "=You are an expert resume building specialist. Your task is to THINK DEEPLY to build AND enhance the originally provided resume based on the job requirements from the LinkedIn job postings.\n\nNOTE: \nThe original resume may be unstructured but contains all of the candidate's relevant skills, experience and education.\n\nINSTRUCTIONS:\n1. Take the original resume content and the job posting details\n2. Recreate and enhance the resume to tailor and match the job requirements of the posting\n3. Keep all original sections: Summary, Experience, Education, Skills, Projects, Awards & Certifications\n4. Improve the content to highlight relevant skills and experiences\n5. Maintain the professional structure and formatting\n6. Output the COMPLETE enhanced resume with ALL sections\n7. DO NOT include the Complementary Skillsets portion of the resume. That is only there as add ons to assist with tailoring the resume. \n\nIMPORTANT FORMATTING RULES:\n- Output ONLY clean HTML content, no markdown formatting\n- Do NOT include ```html or ``` or backticks in your response\n- Do NOT include the word \"html\" at the beginning\n\nEXAMPLE STRUCTURE:\n\n<h1>Jimmy Jim Jim</h1>\n<div class=\"job-title\"><strong>Software Developer</strong></div>\n\n<div class=\"contact-section\">\n<strong>Contact:</strong>\n<ul>\n<li>Phone: (555) 123-4567</li>\n<li>Email: jimmy.jim.jim@email.com</li>\n<li>LinkedIn: linkedin.com/in/jimmyjimjimdev</li>\n<li>GitHub: github.com/jimmyjimjim-dev</li>\n</ul>\n</div>\n\n<h2><strong>Summary</strong></h2>\n<p class=\"summary\">[Enhanced summary here]</p>\n\n<h2><strong>Experience</strong></h2>\n[Job entries with proper HTML structure]\n\nStart your response directly with <h1> and end with the last job entry. No extra text or formatting markers."
        }
      },
      "id": "e89fb33b-5b9d-48a0-aedd-0fce3ff6e0ec",
      "name": "Resume Building Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        560,
        -416
      ]
    },
    {
      "parameters": {
        "folderId": "1pV0h_hPqCSjO1H5gJeh_YIdnPHmeFf4o",
        "title": "=Enhanced Resume: {{ $('Limit 1').item.json.output.company_name }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1040,
        368
      ],
      "id": "34aeb918-81c1-49c8-96b8-6cc839aaefe4",
      "name": "Create Enhanced Resume",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "4TTjZAXU1tVaBCXb",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/upload/drive/v3/files/{{ $json.id }}?uploadType=media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"content-type\":\"text/html\"\n}",
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $('HTML Formatter').item.json.formattedResume }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        368
      ],
      "id": "86cbd8d5-e822-4c7e-9b95-d17f4534ae90",
      "name": "Upload Updated Resume",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "4TTjZAXU1tVaBCXb",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the HTML content from the AI agent\nconst htmlContent = $input.all()[0].json.output;\n\n// Create CSS styles that match the original resume format exactly\nconst cssStyles = 'body { font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, sans-serif; line-height: 1.4; color: #333; max-width: 8.5in; margin: 0 auto; padding: 1in; background: white; font-size: 11pt; } ' +\n'h1 { font-size: 24pt; font-weight: bold; margin: 0 0 4pt 0; color: #000; } ' +\n'h2 { font-size: 14pt; font-weight: bold; margin: 20pt 0 8pt 0; color: #000; } ' +\n'h3 { font-size: 11pt; font-weight: bold; margin: 12pt 0 4pt 0; color: #000; } ' +\n'p { margin: 0 0 6pt 0; line-height: 1.3; } ' +\n'ul { margin: 4pt 0 8pt 0; padding-left: 16pt; list-style-type: disc; } ' +\n'li { margin: 2pt 0; line-height: 1.3; } ' +\n'.contact-info { margin-bottom: 16pt; font-size: 10pt; line-height: 1.2; } ' +\n'.contact-info p { margin: 1pt 0; } ' +\n'.job-title { font-size: 12pt; font-weight: normal; margin: 2pt 0 12pt 0; color: #666; } ' +\n'.job-header { font-weight: bold; margin: 8pt 0 2pt 0; } ' +\n'.job-company { font-style: italic; margin: 0 0 4pt 0; font-size: 10pt; } ' +\n'.section { margin-bottom: 16pt; } ' +\n'.skills-section ul { list-style-type: none; padding-left: 0; } ' +\n'.skills-section li { margin: 1pt 0; } ' +\n'strong { font-weight: bold; } ' +\n'a { color: #0066cc; text-decoration: none; } ' +\n'a:hover { text-decoration: underline; } ' +\n'@media print { body { padding: 0.5in; font-size: 10pt; } h1 { font-size: 22pt; } h2 { font-size: 13pt; } }';\n\n// Build the complete HTML\nconst styledHtml = '<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><style>' + cssStyles + '</style></head><body>' + htmlContent + '</body></html>';\n\nreturn {\n  json: {\n    formattedResume: styledHtml,\n    status: \"success\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        368
      ],
      "id": "7b48d1a0-1677-4d11-8588-12be91df3515",
      "name": "HTML Formatter"
    },
    {
      "parameters": {
        "chatId": "999264527",
        "text": "={{ $json.name }} Completed",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        464
      ],
      "id": "97e876d1-3440-4d19-864f-20706f82bbf1",
      "name": "Telegram Response",
      "webhookId": "1cc5869f-a534-4231-9278-2e67a7a2524b",
      "credentials": {
        "telegramApi": {
          "id": "M4xwq8mohlH7oI1F",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "dataops.cloud.mbf@gmail.com",
        "subject": "={{ $json.name }} Completed",
        "emailType": "text",
        "message": "={{ $json.name }} Completed",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1440,
        320
      ],
      "id": "be6e1620-3e1a-4ce4-9c68-241db3a25949",
      "name": "Email Response",
      "webhookId": "10cce0ab-32dd-4f1b-b947-4b7c332fa06c",
      "credentials": {
        "gmailOAuth2": {
          "id": "9mUwSxU4RfprPtsU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🔄 Dual Triggers\n\n**8AM Daily**: Normal HTTP scraping\n**Manual Fallback**: Use when HTTP fails",
        "height": 592,
        "width": 280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2064,
        -752
      ],
      "id": "34cf4ae4-5c0d-482a-a59d-45a169ccc1aa",
      "name": "Sticky Note Triggers"
    },
    {
      "parameters": {
        "content": "## 📄 Input Resume\n\nFetches candidate CV",
        "height": 320,
        "width": 280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1728,
        -736
      ],
      "id": "02bd28eb-016e-43b0-93fd-498aebb8fcc9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 🔀 Source Router\n\nRoutes based on which trigger fired:\n- 8AM Daily → HTTP Path\n- Manual → Sheets Path",
        "height": 432,
        "width": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1504,
        -304
      ],
      "id": "2bd9fe27-e61e-47dd-a2b0-0883eb1ab9d5",
      "name": "Sticky Note Router"
    },
    {
      "parameters": {
        "content": "## 🌐 HTTP Path\n\nLive scraping via APIFY\n(Normal daily operation)",
        "height": 368,
        "width": 848,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1120,
        -240
      ],
      "id": "2960079b-7e80-47d5-91fb-9b881213d65d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 📊 Google Sheets Fallback\n\nReads from consolidated jobs spreadsheet:\nhttps://docs.google.com/spreadsheets/d/1Zbnlkf7Z_aCFQqd7Ipi6nUoosf0WkY4zMhXbQb_UO_M",
        "height": 384,
        "width": 848,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1104,
        144
      ],
      "id": "47525797-11a1-46d3-a3d4-2d39d0e67a72",
      "name": "Sticky Note Excel"
    },
    {
      "parameters": {
        "content": "## 🤖 AI Processing\n\nJob Matching → Filter ≥70% → Resume Building",
        "height": 400,
        "width": 1072
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -528
      ],
      "id": "b630a157-cb1b-4d08-bbc8-fd6f90d49c9a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 📤 Tailored Resume Output\n\nCreate Google Doc + Notifications",
        "height": 496,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        240
      ],
      "id": "c13df1a4-1d39-4c2a-a572-48ddac3e4c76",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -496,
        -96
      ],
      "id": "cb0b830e-5b0e-41b7-8ce8-c16e1c7413c8",
      "name": "Merge Data Paths"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        64,
        -80
      ],
      "id": "b21eb781-9c38-4087-b5d4-f4479f5ecd85",
      "name": "5 mini",
      "credentials": {
        "openAiApi": {
          "id": "s34KW40U7QX30J0X",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "8AM Daily": {
      "main": [
        [
          {
            "node": "Get Original Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Fallback Trigger": {
      "main": [
        [
          {
            "node": "Get Original Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Original Resume": {
      "main": [
        [
          {
            "node": "Source Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Source Router": {
      "main": [
        [
          {
            "node": "LinkedIn Jobs Scraper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Jobs from Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Jobs Scraper": {
      "main": [
        [
          {
            "node": "Normalize HTTP Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize HTTP Data": {
      "main": [
        [
          {
            "node": "Merge Data Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Jobs from Sheets": {
      "main": [
        [
          {
            "node": "Schema Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schema Mapper": {
      "main": [
        [
          {
            "node": "Merge Data Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data Paths": {
      "main": [
        [
          {
            "node": "Job Matching Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Matching Agent": {
      "main": [
        [
          {
            "node": "70% or Higher Qualification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Job Matching Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Resume Building Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Job Matching Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "70% or Higher Qualification": {
      "main": [
        [
          {
            "node": "Limit 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit 1": {
      "main": [
        [
          {
            "node": "Resume Building Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Building Agent": {
      "main": [
        [
          {
            "node": "HTML Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Enhanced Resume": {
      "main": [
        [
          {
            "node": "Upload Updated Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Updated Resume": {
      "main": [
        [
          {
            "node": "Telegram Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Formatter": {
      "main": [
        [
          {
            "node": "Create Enhanced Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 mini": {
      "ai_languageModel": [
        [
          {
            "node": "Job Matching Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Resume Building Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "355a02cd-05e8-408e-8af2-631b97cd07dd",
  "meta": {
    "instanceId": "7701c5f34a23cb748d407034740c99259f35357bcb3895da2a4b88fd28c247f4"
  },
  "id": "L-qpv_qn4dqFMpI4DlVwo",
  "tags": [
    {
      "updatedAt": "2026-02-07T18:03:45.727Z",
      "createdAt": "2026-02-07T18:03:45.727Z",
      "id": "StXcOBLVEqlDEVRN",
      "name": "Teste insert jobs sheets"
    }
  ]
}